<div class="login">
    <div class="login-wrap">
        <div class="login-left">
            <img src="assets/loginImg.svg" class="login-img" />
        </div>
        <hr>
        <div class="login-right">
            <div class="login-right-wrap">
                <h2 class="login-logo">NextEdge 👋 </h2>

                <form #userForm="ngForm" class="login-container" (ngSubmit)="submitHandler(userForm.value)">
                    <!-- {{userForm.value | json}} -->
                    <div class="input-field">
                        <label 
                            for="email">
                            Email or Phone Number:
                        </label>
                        <input 
                            class="input" 
                            placeholder="Email" 
                            name="email" 
                            ngModel 
                            required 
                            #email="ngModel" />
                        <small 
                            *ngIf="email.touched && !email.valid" 
                            class="alertmsg">
                            Please enter Email
                        </small>
                    </div>
                    <div class="input-field">
                        <label 
                            for="password">
                            Password:
                        </label>
                        <input 
                            [type]="toggle?'password':'text'" 
                            class="input" 
                            placeholder="password" 
                            name="password"
                            ngModel required #password="ngModel" />
                        <small 
                            *ngIf="password.touched && !password.valid" 
                            class="alertmsg">
                            Please enter Password
                        </small>
                        <span 
                            class="toggle" 
                            (click)="toggleFunc()">
                            {{toggle?'show':'hide'}}
                        </span>
                    </div>

                    <p class="login-instruction">
                        Lorem text long established fact that a reader will be distracted by
                        the
                        readable content of a page when looking at its layout.
                    </p>
                    <button type="submit" class="submitbtn" [disabled]="!userForm.valid">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>