.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrap{
    display: flex;
    background-color: rgb(247, 247, 247);
    flex: 1;
    height: 100vh;
}

.login-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    background-color: #718096;
}

.login-img{
    max-width: 500px;
    width: auto;
    height: fit-content;
}

.login-right{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.5;
}

.login-right-wrap{
    width: fit-content;
    margin: auto;
}

.input-field{
    position: relative;
}

.input-field>label{
   font-size: 12px;
   font-family: sans-serif;
   color: gray;
}
.login-logo{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin:20px 0;
}

.login-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 250px;
    position: relative;
}

.login-instruction{
    font-size: 12px;
    font-family: sans-serif;
    margin: 5px 0;
    color: gray;
}

.input{
    padding: 10px;
    margin: 5px 0;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    width: 90%;
}

.input:focus{
    outline:none;
}

.toggle{
   position: absolute;
   font-size: 14px;
   top: 32px;
   right: 10px;
   color: gray;
   font-family: sans-serif;
   cursor: pointer;
}

.submitbtn{
    padding: 10px;
    font-size: 17px;
    margin: 5px 0;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.alertmsg{
    font-size: 11px;
    font-family: sans-serif;
    color: red;
}