.register{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-wrap{
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(241, 241, 241);
    border-radius: 5px;

}
.register-logo{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    margin-top:10px ;
    /* color: blue; */
}
.register-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 250px;
    position: relative;
}
.register-instruction{
    font-size: 14px;
    font-family: sans-serif;
    margin: 5px 0;
    font-weight:600;
}
.input{
    padding: 10px;
    margin: 5px 0;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}
.input:focus{
    outline:none;
}
.toggle{
   position: absolute;
   font-size: 14px;
   top: 119px;
   right: 20px;
   color: gray;
   font-family: sans-serif;
}
.condirm-toggle{
    position: absolute;
   font-size: 14px;
   top: 165px;
   right: 20px;
   color: gray;
   font-family: sans-serif;
}
.submitbtn{
    padding: 10px;
    font-size: 17px;
    margin: 5px 0;
    background-color: blue;
    border: none;
    border-radius: 5px;

}