<div class="register">
    <div class="register-wrap">
        <h1 class="register-logo">NextEdge</h1>
        <form class="register-container">
            <input type="text" class="input" placeholder="FirstName" />
            <input type="text" class="input" placeholder="SecondName" />
            <input 
                [type]="passwordtoggle?'password':'text'" 
                class="input" 
                placeholder="password" 
            />
            <input 
                [type]="confirmPassword?'password':'test'" 
                class="input" 
                placeholder="confirm password" 
            />
            <span class="toggle" (click)="passwordtoggleHandler()">{{passwordtoggle?'show':'hide'}}</span>
            <span class="condirm-toggle"
                (click)="confirmPasswordtoggleHandler()">{{confirmPassword?'show':'hide'}}</span>
            <p class="register-instruction">Lorem text long established fact that a reader will be distracted by the
                readable content of a page when looking at its layout.</p>
            <button type="submit" class="submitbtn">Register</button>
        </form>

    </div>
</div>


<!-- <form class="register-container">
    <input type="text" class="input" placeholder="FirstName"/>
    <input type="text" class="input" placeholder="SecondName"/>
    <input 
        [type]="passwordtoggle?'password':'text'" 
        class="input" 
        placeholder="password"
    />
    <input 
        [type]="confirmPassword?'password':'test'" 
        class="input" 
        placeholder="confirm password"
    />
    <span class="toggle" (click)="passwordtoggleHandler()">{{passwordtoggle?'show':'hide'}}</span>
    <span class="condirm-toggle" (click)="confirmPasswordtoggleHandler()">{{confirmPassword?'show':'hide'}}</span>
    <p class="register-instruction">Lorem text long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    <button type="submit" class="submitbtn">Register</button>
</form> -->