<div class="header">
    <div class="header-wrap">
        <div class="header-logo">
            <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/lqket1yykfw5k53i8vfv"
            alt="" class="image-log" />
            <span class="logo-name">NextEdge</span>

        </div>
        <nav class="header-right">
            <a  routerLink="/main/home" routerLinkActive="active" class="nav">home</a>
            <a  routerLink="/main/about" routerLinkActive="active" class="nav">about</a>
            <a  routerLink="/main/project" routerLinkActive="active" class="nav">projects</a>
            <a  routerLink="/auth/login" routerLinkActive="active" class="nav">login</a>
        </nav>
    </div>

</div>