.header{
    box-shadow: 0px 1px 2px 0px rgba(175, 174, 174, 0.75);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 170, 170, 0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(190, 189, 189, 0.75);

}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    align-items: center;
}
.image-log{
    width: 50px;
    margin: 0 10px;
}
.logo-name{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.header-right{
    font-size: 17px;
    margin: 0 10px;
}

.nav{
    font-family: sans-serif;
    font-weight: 600;
    margin: 0 10px;   
    color: gray;
    text-decoration: none; 
    color: black;
}
nav a.active{
    color: blue;
}