.home{
    max-width:800px;
    margin: auto;
}
.home-head{
    font-size: 60px;
    font-family: sans-serif;
    margin:20px 10px;
}
.home-paragrap{
    margin:20px 10px;
    font-family: sans-serif;
    font-size: 18px;
}