.about{
    max-width:800px;
    margin: auto;
}
.about-head{
    font-size: 60px;
    font-family: sans-serif;
    margin:20px 10px;
    
}
.about-paragrap{
    margin:20px 10px;
    font-family: sans-serif;
    font-size: 18px;


}